.list-element {
  list-style: lower-alpha;
  display: flex;
  margin: 15px 0px;
  align-items: center;
}

.list-element small {
  width: 5%;
  min-width: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.list-element small span {
  text-align: center;
  color: black;
  cursor: pointer;
}
.list-element small span:first-child {
  background-color: rgb(49, 122, 49);
}
.list-element small span:last-child {
  background-color: rgb(185, 60, 60);
}

.list-element .list-item span {
  width: 90%;
}

.list-element .list-item {
  width: 70%;
  display: flex;
  align-items: center;
}

.list-element .list-buttons {
  width: 30%;
  display: flex;
  justify-content: space-between;
}

.list-element .list-buttons button {
  width: 30%;
}

.list-element .delete-btn {
  background-color: red;
}
.list-element .edit-btn {
  background-color: yellow;
}
.list-element .isnotdone-btn {
  background-color: orange;
}

.list-element .isdone-btn {
  background-color: green;
}

.list-element .finished-task {
  color: red;
  text-decoration: line-through;
  margin-left: 10px;
}

.list-element .unfinished-task{
  margin-left: 10px;
}
